.signup-background {
  background-color: aquamarine !important;
  height: max-content !important;
}

.navBar-background {
  background-color: #7fffd4 !important;
}

#privateToggler {
  top: 10;
  left: 3;
}

@media screen and (min-width: 592px) {
  .sidebar-links:hover {
    text-align: center;
    background-color: #7fffd4;
    border-radius: 5%;
  }
  .sidebar-links:active,
  .sidebar-links:focus {
    border: 2px solid crimson;
    text-align: center;
    background-color: #7fffd4;
    border-radius: 5%;
  }
}
