.signup-background {
  background-color: aquamarine !important;
}

.navBar-background {
  background-color: #7fffd4 !important;
}

#privateToggler {
  top: 10;
  left: 3;
}

.sidebar-links:hover {
  text-align: center;
  background-color: #7fffd4;
  border-radius: 5%;
}
.sidebar-links:active,
.sidebar-links:focus {
  border: 2px solid crimson;
  text-align: center;
  background-color: #7fffd4;
  border-radius: 5%;
}

.invoiceLogoSize {
  height: 100px;
  width: auto;
}

@media print {
  .invoiceLogoSize {
    width: 120px;
  }
}

.mouseCursorChanger {
  cursor: pointer;
}
.mouseCursorChanger:hover {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
